<?xml version="1.0" encoding="UTF-8"?>
        <configdata>
            <nav>
                <home>
                    <label>Home</label>
                    <uri></uri>
                    <pages>
                        <about>
                            <label>About</label>
                            <controller>index</controller>
                            <action>about</action>
                        </about>
                        <contact>
                            <label>Contact</label>
                            <uri>/index/contact</uri>
                        </contact>
                    </pages>
                </home>
                <admin>
                    <label>Beheer</label>
                    <uri>/beheer/index0</uri>
                    <class>last</class>
                    <pages>
                        <content>
                            <label>Beheer content</label>
                            <uri>/content/index</uri>
                        </content>
                        <users>
                            <label>Gebruikers</label>
                            <uri>/users/index</uri>
                        </users>
                    </pages>
                </admin>
            </nav>
        </configdata>